@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
$primary: #7500F8;
$accent: #F9E132;
$white: #ffffff;
$text-black: #1B0E0E;
$text-gray: #A0A0A0;
$border-gray: #E3E3E3;
$card-active-bg: #f8f6ffb5;
$button-bg: #4E4E4E;
$border-radius-base: 8px;