@use 'variables';
h1 {
    color: variables.$text-black;
    font-family: 'Inter', sans-serif;
    font-weight: 500 !important;
    font-size: 40px !important;
    line-height: 50px !important;
}

h2 {
    color: variables.$text-black;
    font-family: 'Inter', sans-serif;
    font-weight: 500 !important;
    font-size: 34px !important;
    line-height: 50px !important;
}

h5 {
    // color: variables.$text-black;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.color-primary {
    color: variables.$primary !important;
}

.color-accent {
    color: variables.$accent !important;
}

.color-card-bg {
    background-color: variables.$card-active-bg !important;
}

.border-radius-base {
    border-radius: variables.$border-radius-base !important;
}

.active-card {
    border-radius: variables.$border-radius-base;
    border: 2px solid variables.$primary !important;
    background-color: variables.$card-active-bg !important;
}

.nonactive-card {
    border-radius: variables.$border-radius-base;
    border: 1px solid variables.$border-gray;
    background-color: white;
    transition: background-color 0.17s ease;
    &:hover {
        cursor: pointer;
        border: 1px solid variables.$primary;
        // background-color: variables.$card-active-bg;
    }
}

button {
    padding: 13px;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: variables.$white;
    background: variables.$primary;
    border-radius: variables.$border-radius-base;
    transition: background-color 0.2s ease;
    &:hover {
        background-color: #7427c7;
    }
    &:disabled {
        cursor: not-allowed;
        opacity: 0.3
    }
}

textarea {
    background-color: #ececec98;
    padding: 10px 17px;
    width: 100%;
    color: #211f1f;
    font-size: 16px;
    letter-spacing: 0.17px;
    border: 2px solid transparent;
    outline: none;
    height: 120px;
    border-radius: 8px;
    font-weight: 400;
    transition: border-color 0.2s ease, color 0.2s ease, background-color 0.2s ease;
    resize: none;
    /* Prevents manual resizing by the user */
    overflow-y: auto;
    /* Allows vertical scrolling */
    &:focus {
        background-color: #ffffff;
        border-color: variables.$primary;
        border-width: 2px;
        letter-spacing: 0.17px;
        font-weight: 400;
    }
    &::placeholder {
        letter-spacing: 0.17px;
        font-size: 16px;
        font-weight: 400;
        color: #9D9D9D;
    }
    &:focus::placeholder {
        font-weight: 400;
        color: #d9d9d9;
    }
}

.non-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}


/* style the input element with type "range" */

// input[type="range"] {
//     -webkit-appearance: none;
//     appearance: none;
//     width: 100%;
//     cursor: pointer;
//     outline: none;
//     overflow: hidden;
//     border-radius: 16px;
// }
// input[type="range"]::-webkit-slider-runnable-track {
//     height: 15px;
//     background: #ccc;
//     border-radius: 16px;
// }
// input[type="range"]::-moz-range-track {
//     height: 15px;
//     background: #ccc;
//     border-radius: 16px;
// }
// input[type="range"]::-webkit-slider-thumb {
//     -webkit-appearance: none;
//     appearance: none;
//     height: 15px;
//     width: 15px;
//     background-color: #fff;
//     border-radius: 50%;
//     border: 2px solid #f50;
//     box-shadow: -407px 0 0 400px #f50;
// }
// input[type="range"]::-moz-range-thumb {
//     height: 15px;
//     width: 15px;
//     background-color: #fff;
//     border-radius: 50%;
//     border: 1px solid #f50;
//     box-shadow: -407px 0 0 400px #f50;
// }